*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:white;
}
.conteyner{
    max-width: 1000px;
    margin: 0 auto;
    align-items: center;
    padding: 100px;
    justify-content: center;
    flex-wrap: wrap;
    
    
}
.card{
    border: 1px solid none;
    width: 700px;
    height: 220px;
    display: flex;
    margin: 10px;
    background-color: white;
}
img{
    padding: 10px;
   
}
.card1{
    padding-bottom: 20px;
}
.path3{
    text-align: right;
    }